



/*PAGE HEADER*/

/*=========Navigation===============*/



/*============Navigation===============*/



/*=============HERO SECTION===========*/


/*=============HERO SECTION===========*/

/*===========Features Section==========*/

/*===========/Features Section==========*/

/*============Our Team===============*/


/*============/Our Team===============*/

/*=============Our Portfolio============*/


/*=============/Our Portfolio============*/

/*===========FOOTER===============*/


/*===========/FOOTER===============*/

/*============BACKDROP==========*/
/*.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 01;
  visibility: visible;
  pointer-events: auto;
}

/*============/BACKDROP==========*/

/*============MODAL WINDOW==========*/
/*.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
    border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  display: flex;
  fill: #2e2f42;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  line-height: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
    padding: 0;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
  
}

.close-btn-icon {
  fill: var(--navyblue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:hover,
.close-btn-icon:focus {
  fill: #ffffff;
}

/*============/MODAL WINDOW==========*/

/*============MODAL FORM==========*/
/*.customers-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 24px;
  margin-bottom: 16px;
}

.customers-form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.comment-customers-form-wrapper {
  margin-bottom: 16px;
}

.customers-form-label {
   color: #8e8f99;
    font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.customers-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  background-color: transparent; 
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.customers-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-form-input-wrapper {
  position: relative;
}

.customers-form-input:focus + .customers-form-icon {
  fill: #4d5ae5;
}

.customers-comment {
  width: 360px;
  height: 120px;
  color:  rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.customers-comment::placeholder {
  color:  rgba(46, 47, 66, 0.4);
}

.customers-comment:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.customers-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.customers-form-checkbox-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.customers-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-form-checkbox:checked
  + .customers-form-checkbox-label
  > .customers-form-own-checkbox {
  background-color: var(--accent-color);
  fill: #f4f4fd;
  border: none;
}

.customers-form-checkbox:focus
  + .customers-form-checkbox-label
  > .customers-form-own-checkbox {
  outline: 2px solid rgba (0, 0, 255, 0.5);
}
 
.customers-form-privacy-link {
  color: #4d5ae5;
font-size: 12px;
font-weight: 400;
line-height: 1.17x; 
letter-spacing: 0.04em;
}

.customers-form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*============/MODAL FORM==========*/
