.footer-section {
    display: flex;
    background-color: #2e2f42;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 96px;
    padding-right: 0px;
    padding-bottom: 96px;
    padding-left: 0px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  row-gap: 72px;
  align-items: center;

  }

  .link-futer {
   width: 100%;
    margin-bottom: 17.5px;
    justify-content: center;
}
    .secondary-color-text {
        display: flex;
        color: #f4f4fd;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
          }

          .footer-slogan {
            color: #f4f4fd;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            width: 264px;
            margin-top: 0;
           
          }

          .social-name {
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em;
            margin-bottom: 16px;
            text-align: center;
          }

          .card-box-icons-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
          }

          .list-footer:hover,
  .list-footer:focus {
    background-color: #31d0aa;
  }

  .footer-form-section {
 display: flex;
  flex-direction: column;
  align-items: center;
    }

    .footer-form-description {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        padding: 0;
      }

      .footer-form {
        display: flex;
  flex-direction: column;
  align-items: center;
      }

      .footer-form-input {
        display: flex;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        width: 288px;
  height: 40px;
  margin: 0;
        padding: 16px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid var(--WHITE, #FFF);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      }
    
      .footer-form-button {
        display: flex;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        width: 165px;
        height: 40px;
        cursor: pointer;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: #4d5ae5;
        border: none;
        margin-top: 16px;
      }

      .footer-btn-icon {
        fill: #f4f4fd;
        line-height: 0;
        margin-left: 16px;
      }

      /*=========================MEDIA=================*/

  @media screen and (min-width: 768px){
 .footer-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    gap: 72px 24px; 
    width: 584px; 
 }
   .link-futer {
    display: inline-block;
    margin-bottom: 16px;
}

.secondary-color-text {
    display: inline-block;
}
.footer-slogan {
    margin-right: 24px;
}
.social-name {
    display: inline-block;
}
.footer-form-section {
    align-items: start;
    margin-right: 40px;
}

.footer-form {
    flex-direction: row;
    gap: 24px;
    align-items: start;
}
.footer-form-button {
    margin: 0px;
}
}
    
@media screen and (min-width: 1158px) {
    .footer-container{
        justify-content: start;
        gap: 0;
        flex-wrap: nowrap;
        flex-direction: row;
       width: 1158px;
         
         }
         .footer-slogan {
            margin-right: 120px;
          }
          .social-box {
            margin-right: 80px;
          }
        }

