.main-section {
    background-color: #2e2f42;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 72px;
       padding-bottom: 72px;
       display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../../images/hero-images/mob-dark-bg.jpg);
    }

    @media screen and (min-resolution: 192dpi) {
      .main-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../../images/hero-images/mob-dark-bg@2x.jpg);
      }
    }

.main-section-title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-right: auto; 
    margin-left: auto;
    max-width: 220px;
       }

.main-title-button {
    background: #4d5ae5;
    color: #ffffff;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1,5;
    letter-spacing: 0.04em;
}

.main-title-button:hover,
  .main-title-button:focus {
    background-color: var(--accent-color);
  }
  
/*===========MEDIA=================*/


  @media screen and (min-width: 768px) {
    .main-section {
      padding-top: 112px;
      padding-bottom: 112px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-images/tab-dark-bg.jpg);
    }
    @media screen and (min-resolution: 192dpi) {
      .main-section {
        background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../../images/hero-images/tab-dark-bg@2x.jpg);
      }
    }
    .main-section-title {
      max-width: 496px;
      margin-bottom: 36px;
      font-size: 56px;
      font-weight: 700;
      line-height: 1.07;
      letter-spacing: 0.02em;
    }
  }

  @media screen and (min-width: 1158px) {
.main-section {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/hero-images/pc-dark-bg.jpg);
}
@media screen and (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/hero-images/pc-dark-bg@2x.jpg);
  }
  }

  .main-section-title {
      text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}

/*.main-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
  }
  
  .main-section-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  
  .main-title-button {
    background: #4d5ae5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .main-title-button:hover,
  .main-title-button:focus {
    background-color: var(--accent-color);
  }
  